@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@300;400&display=swap');
.App {
	/* text-align: center; */
font-family: 'Lato';
margin:0;padding:0;height:100%;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}


.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* jos  css */
.contain {
	width: 100vw;
	height: 100vh;
	background: white;
	display: flex;
flex-direction: row;
/* background-color: #ECF0FF; */
}
.left_{
position: relative;
width: 40vw;
height: 100vh;
/* background: yellow; */
background-image: url("./img/fondo_chica.png");
background-size: cover;
/* margin-bottom:- 120px; */

}
.right_{
}
.logoRimac{
margin-top: 40px;
margin-left:20%;
/* position: relative; */

}

.chica{
margin-left: 35%;
height: 30%;
width: 300;
display:flex;
margin-top: 10%;
/* top:18%, */
}


.right_{
position: relative;
width: 60vw;
height: 100vh;
/* background: yellow; */
/* background-image: url("./img/fondo_chica.png"); */

}


.h1_sup{
font-family: Lato;
font-size: 36px;
color: #EF3340;
/* line-height: 48; */
}

.span_h1_sup{
font-family: Lato;
font-size: 36px;
color: #494F66;
/* line-height: 48; */
}

.blok_right{
margin-top: 30px;
margin-left: 30%;
margin-right: 21%;
font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
/* background: yellow; */
}

.copyright{
margin-left: 25%;
font-size: 12px;
font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #A3ABCC;

position: absolute; 
                bottom: 10%; 

}

.tag_nuevo{


}


/* right element ***************************************************** */

.formData_classN{
margin-top: 18%;
margin-left: 22%;
width: 35%;
}


.top_data{
width:fit-content;
height: 20;
margin-top: 45px;
/* background: red; */
display: flex;
right: 13.333%;
position: absolute;

}


.dudas{

/* margin-right: 20;
padding-right: 20; */
/* background: yellow; */
}
.dud_txt{
margin-right: 20px;
font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #676F8F;
font-size: 12px;

}

.phone{
font-size: 14px;
margin-left: 20;
color: #6F7DFF;
font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
line-height: 24px;

}
.phone_v{
margin-right: 5px;
}
.tit_form{
font-family: Lato;
font-size: 28px;
color: #494F66;
margin-bottom: 24px;

}
.row_{

display: flex;
}

.but_rimac{
padding: 20px !important;


    color: #fff;
    background-color:  #EF3340 !important;

    border-color:  #EF3340  !important;
border-radius: 8px !important;
font-family: Lato;
font-size: 14px;

}

.txt_but_rimac{

font-family: Lato;
font-size: 14px;
padding-left:35px;
text-transform: uppercase;
padding-right: 35px;
}

.green_box{

height: 20px;
width: 30px;
background: #43B748;
border-radius: 4px;

margin-right: 15px;
}

input.form-control.fc_joss {
/* background-color: red;
 */
padding: 15px;
font-family:'Lato', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#basic-addon1{
padding: 15px;
background-color: white;

}

.pol_text{
    font-size: 12px;
}

.phone_responsive{
display:none;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .right_{
width:100%;

  }
 .left_{
width:100%;

  }
  .contain{
display: block;

  }

.logoRimac {
    margin-top: 20px;
    margin-left: 32px; 
}

.container{
/* margin-left: 10%; */
padding: 10%;	

}
.formData_classN{
width: 80%;
margin-left:10%;
margin-top: 5%;
}

.h1_sup{font-size:28px}
.phone_responsive{
display:block;
position: absolute;
top: 20px;
right: 30px;
}
.nphone{
color:  #6769FF;

}

.blok_right {
    margin-top: 30px;
    margin-left: 32px;
	margin-right: 40%;
}
.chica {
    margin-left: 55%;
    height: 30%;
    width: 300;
    display: flex;
    margin-top: 10%;
position: absolute;
    z-index: 10;
}
.tell_us{font-size:14px}

.right_ {
    position: relative;

    background: white;
    height: 100vh;
    margin-top: -80%;
}


.logo{margin-left: 10% !important;}
.hh_eader {


}
.head_img{display: none !important;}



.span_h1_sup{ font-size: 28px;}
.but_rimac{width:100%}
.phone,.copyright, .dudas{ display: none; }

.right_2{
width:100% !important;
}
.conaine{
display:unset !important;
}


}




/* COMUNITY STYLES ++++++++++++++++++++++++++++++ */
.pad10{
padding: 10px;
}
.col-red{
color:#EF3340;
}
.title{
font-size:36px;

}
.left_2 {
width: 30%;
background: #F7F8FC ;  


/* height: 100%; */
position:absolute;
position:relative;

left:0;

bottom:0;

height:100hv;
}
.right_2{
position: relative;
width: 70%;
right: 0;
}

.txt_reg{

font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 28px;
}
.txt_reg_bold{

font-weight: 500;
}
.red{

background:#EF3340;
}
.w100{

width: 100%;}